aiohttp==0.21.4
aiohttp-wsgi==0.4.0
alembic==0.8.5
beautifulsoup4==4.4.1
cchardet==1.0.0
chardet==2.3.0
Flask==0.10.1
Flask-Micropub==0.2.6
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
requests==2.9.1
requests-futures==0.9.7
simplejson==3.8.2
SQLAlchemy==1.0.12
uritemplate==0.6
uWSGI==2.0.12
Werkzeug==0.11.4
