alembic==0.8.10
beautifulsoup4==4.5.3
cchardet==1.1.2
chardet==2.3.0
click==6.7
Flask==0.12
Flask-Micropub==0.2.6
Flask-Migrate==2.0.2
Flask-Script==2.0.5
git+https://github.com/nickw444/flask-sqlalchemy#egg=Flask-SQLAlchemy
itsdangerous==0.24
Jinja2==2.9.4
Mako==1.0.6
MarkupSafe==0.23
psycopg2==2.6.2
python-editor==1.0.3
requests==2.12.5
requests-futures==0.9.7
simplejson==3.10.0
SQLAlchemy==1.1.5
uritemplate==3.0.0
uWSGI==2.0.14
Werkzeug==0.11.15
